<div class="commonBlock">
  <h1><img src="https://pkasko.com/img/logoHead.png"></h1>
</div>
<div class="job">
    Position:<br>
    <span class="bold"> PHP-developer</span><br><br>
    Duties: <br>
    <span class="bold"> Creation of beck-end part of service. Calculation of insurance KASKO and OSAGO inside local java and php servelets(b2b). 
    Integration of calculators from most popular Russian insurance companies. Support of own API for inner and outer purposes.</span><br><br>
    Technologies: <br>
    <span class="logos">
      <a href="http://php.net"><div class="php"></div></a>
      <a href="http://java.com"><div class="java"></div></a>
      <a href="http://laravel.com"><div class="laravel"></div></a>
      <a href="http://angular.io"><div class="angular"></div></a>
    </span>
    <span class="logos">
      <a href="http://getpostman.com"><div class="postman"></div></a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><div class="JS"></div></a>
      <a href="https://jquery.com/"><div class="jquery"></div></a>
      <a href="http://mysql.com"><div class="mysql"></div></a>
      <a href="https://www.mercurial-scm.org/"><div class="mercurial"></div></a>
      <a href="https://code.visualstudio.com/"><div class="vscode"></div></a>
    </span>
</div>
<nav>
  <a routerLink="/summary">Back to CV</a> 
  <a routerLink="">MainPage</a> 
</nav>