<div class="row mt-4">
  <span class="col"></span>
  <h1 class="col-12">About me
    <img
      class="profile-photo"
      src="assets/images/avatar-small.jpg"
      alt="Danil Rodin"
      role="img"
      aria-label="Profile photo of Danil Rodin"
    /></h1>
  <span class="col"></span>
</div>

<div class="row mt-3">
  <span class="col"></span>
  <div class="col-12 col-md-9 col-lg-8 about-card">


    <h2>Nice to meet you!</h2>
    <p>
      I'm, <b>Danil Rodin</b>, the fullstack developer, father of two, GameDev enthusiast.
      Passionate at family, work, study and friendship.
    </p>

    <h2>My tech stack:</h2>
    <p><b>Backend:</b> laravel from v5 to latest, symfony v5, phalcon, NestJS</p>
    <p>
      <b>Frontend:</b> ES6, VueJS, vuex, pinia, vue-router, vuex-reststate, react, Svelte,
      Angular, Nuxt, React Native.
    </p>
    <p><b>DB:</b> MySQL, PostgreSQL, MongoDB, elasticsearch, redis.</p>
    <p><b>ENV:</b> linux based, docker, docker-compose, traefik, kuberenetes(k3s), terraform</p>
    <p><b>Methodologies:</b> agile, scrum, kanban</p>

    <p>Vegetarian. Health lifestyle. Sometimes I lift heavy weights in gym.</p>
  </div>
  <span class="col"></span>
</div>

<div class="row mt-4">
  <span class="col"></span>
  <span class="col-12 text-center">
    <a routerLink="/">Back to main page</a>
  </span>
  <span class="col"></span>
</div>
