<h1>CV</h1>
<div class="text-left">
    <h2>Main info:</h2>
</div>
<div class="text-left">
  <ul class="list-group">
    <li class="list-group-item list-group-item-darker">Name: Rodin Danil</li>
    <li class="list-group-item list-group-item-darker">Profession: PHP-developer</li>
    <li class="list-group-item list-group-item-darker">BirthDate: 01.03.1992 ({{age}} years old)</li>
    <li class="list-group-item list-group-item-darker">Current location: Russia, Saint-Petersburg</li>
    <li class="list-group-item list-group-item-darker">Ready to relocate? true</li>
    <li class="list-group-item list-group-item-darker">Tel.: +7(921)586-42-25</li>
    <li class="list-group-item list-group-item-darker">E-Mail: iwazraidu@gmail.com</li>
  </ul>
</div>
<div class="text-left">
  <h2>Job experience:</h2>
</div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/pkasko">"PKASKO" {{jobs.pkasko}}</div>
  </div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/roost">"ROOST" {{jobs.roost}}</div>
  </div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/nashstil">"Nash Stil" {{jobs.NashStil}}</div>
  </div>
<h2>It's me:</h2>
<img src="../../assets/images/crews.jpg" style="width: 75%">
<nav>
  <a routerLink="">Back</a> 
  <a routerLink="/projects">Projects</a> 
</nav>
<!-- textBlockSummary text -->