<div class="commonBlock">
  <h1>CV</h1>
</div>
<div>
    <h2>Main info:</h2>
</div>
<div>
  <div class="mainInfo">
    Name: Rodin Danil<br>
    Profession: PHP-developer<br>
    BirthDate: 01.03.1992 ({{age}} years old)<br>
    Current location: Russia, Saint-Petersburg<br>
    Ready to relocate? true<br>
  </div>
  <div class="mainInfo1"></div>
  <div class="mainInfo2">
    Tel.: +7(921)586-42-25<br>
    E-Mail: iwazraidu@gmail.com
  </div>
</div>
<div>
  <h2>Job experience:</h2>
</div>
  <div class="jobBlock">
    <div class="myButton arrow" routerLink="/summary/jobs/pkasko">"PKASKO" {{jobs.pkasko}}</div>
  </div>
  <div class="jobBlock">
    <div class="myButton arrow" routerLink="/summary/jobs/roost">"ROOST" {{jobs.roost}}</div>
  </div>
  <div class="jobBlock">
    <div class="myButton arrow" routerLink="/summary/jobs/nashstil">"Nash Stil" {{jobs.NashStil}}</div>
  </div>
<div class="commonBlock">
  <h2>Photo of me diving into the deep sea:</h2>
  <img src="../../assets/images/diving_deep.jpg" style="width: 450px">
</div>
<nav>
  <a routerLink="">Back</a> 
  <a routerLink="/projects">Projects</a> 
</nav>
<!-- textBlockSummary text -->