<h1>CV</h1>
<div class="text-left">
    <h2>Main info:</h2>
</div>
<div class="text-left">
  Name: Rodin Danil<br>
  Profession: PHP-developer<br>
  BirthDate: 01.03.1992 ({{age}} years old)<br>
  Current location: Russia, Saint-Petersburg<br>
  Ready to relocate? true<br>
  Tel.: +7(921)586-42-25<br>
  E-Mail: iwazraidu@gmail.com
</div>
<div class="text-left">
  <h2>Job experience:</h2>
</div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/pkasko">"PKASKO" {{jobs.pkasko}}</div>
  </div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/roost">"ROOST" {{jobs.roost}}</div>
  </div>
  <div class="jobBlock text-left">
    <div class="myButton arrow" routerLink="/summary/jobs/nashstil">"Nash Stil" {{jobs.NashStil}}</div>
  </div>
<h2>It's me:</h2>
<img src="../../assets/images/crews.jpg" style="width: 75%">
<nav>
  <a routerLink="">Back</a> 
  <a routerLink="/projects">Projects</a> 
</nav>
<!-- textBlockSummary text -->