<div [@Blinking]="lightColor" class="logo">Crewsy Crews</div>
<div class="commonBlock">
  <div>
    <span class="zsh"> 
      <span class="{{colors[k]}}">┌─╼[</span>~/Danil/Rodin<span class="{{colors[k]}}">] [</span>master<span class="{{colors[k]}}">]</span><br>
      <span class="{{colors[k]}}">└────╼ </span>
    </span>
    <div class="{{classForText}} text"> 
        {{ textyText }}
    </div> 
  </div>
</div>
<div class="commonBlock">
  <a href="https://github.com/crewsycrews"><img src="assets/images/git_logo.png" alt="GitHub" class="icon"></a>
  <a href="https://ru.hexlet.io/u/casiq"><img src="assets/images/hexlet_logo.png" alt="Hexlet" class="icon"></a>
  <a href="https://t.me/casiq"><img src="assets/images/telegram_logo.png" alt="Telegram" class="icon"></a>
  <a href="https://www.codewars.com/users/crewsycrews/"><img src="assets/images/codewars_logo.png" alt="CodeWars" class="icon"></a>
</div>
<nav>
  <a routerLink="/summary">Summary</a> 
  <a routerLink="/projects">Projects</a> 
</nav>