<!--The content below is only a placeholder and can be replaced.-->
<div class="main" [style.height.px]="height">
  <div class="centerBlock">
    <div [@Blinking]="isLighten ? 'lightOn' : 'lightOff'" class="logo">Crewsy Crews</div>
    <!-- <div class="iconBlock"> -->
      <a href="http://github.com/crewsycrews"><img src="assets/images/git_logo.png" alt="GitHub" class="icon"></a>
      <a href="https://ru.hexlet.io/u/casiq"><img src="assets/images/hexlet_logo.png" alt="Hexlet" class="icon"></a>
      <a href="https://t.me/casiq"><img src="assets/images/telegram_logo.png" alt="Telegram" class="icon"></a>
      <a href="https://www.codewars.com/users/crewsycrews/"><img src="assets/images/codewars_logo.png" alt="CodeWars" class="icon"></a>
    <!-- </div> -->
  </div>
  <!-- <div>BAlls</div> -->
  <!-- <p>The box is now {{ isLighten ? 'lightOn' : 'lightOff' }}!</p> -->
</div>
<router-outlet></router-outlet>
